.tb {
	font-weight: 700;
}

.ti {
	font-style: italic;
}

.tn {
	font-weight: 400;
	font-style: normal;
}

.t0\.375 {
	text-transform: uppercase;
	line-height: 1em;
	font-size: 0.375rem;
}

.tube {
	width: 1.5rem;
	height: 4.5rem;
	padding: 0.25rem;
	background: #000000;
	margin-left: 0.25rem;
	border-bottom-left-radius: 0.75rem;
	border-bottom-right-radius: 0.75rem;
}

.ball {
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
}
